body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 17px;
    background-color: #F8F8F8;
}

h2 {
    font-size: 20px;
    font-weight: 700px;
    margin: 0px;
}

p {
    font-weight: 400px;
    font-size: 20px;
    margin: 0px;
}

.container {
    max-width: 359px;
    display: block;
    margin: 0px auto;
    padding: 0px 17px;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    height: 25px;
    align-items: center;
    justify-content: space-between;

}

#logo {
    display: flex;
    align-items: center;
    margin: 5px 4px;
}

#logo img {
    width: 35px;
    height: 35px;
}

#linkS {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 5px 0px;
}

#linkS a {
    display: block;
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: 0.3s;
}

#portfolio:hover,
#resume:hover {
    color: #747474;
}

#resume {
    margin-right: 11px;
}

#fio {
    display: flex;
    align-items: center;
    margin: 14px 0px;
    gap: 10px;
}

#fio img {
    border-radius: 25px;
    width: 123px;
    height: 123px;
}

#name {
    display: flex;
    flex-direction: column;
}

#vA {
    font-size: 14px;
}

#aboutMe {
    margin-bottom: 85px;
}

#skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

#lastTxt {
    display: flex;
    flex-direction: column;
}

#pechat {
    width: 210px;
    height: 210px;
    align-self: flex-end;
    margin-top: -17px;
    margin-right: -45px;
    opacity: 90%;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
}